.clock {
  display: flex;
  /* flex-direction: column; */
  /* gap: var(--wd-space-1); */
  font-variant-numeric: tabular-nums;

  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.datetime {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.time {
  font-weight: 600;
  font-size: clamp(4.5rem, 9vw, 7rem);
  line-height: 1;
  letter-spacing: -0.02em;
  font-variant-numeric: tabular-nums;
  /* color: inherit; */
  color: #DDD;
}

.date {
  margin: 0;
  font-size: 1.7rem;
  font-size: clamp(1.4rem, 4.5vw, 2.3rem);
  font-weight: 500;
  line-height: 1.2;
  color: #BBB;
  opacity: 0.9;
}