.weatherInfo {
  display: flex;
  flex-direction: column;
  gap: var(--wc-space-xl);
}

.group {
  display: flex;
  flex-direction: column;
  --scale-font: 1;

  min-height: 0;
  font-size: calc(1rem * var(--scale-font));

  transition:
    min-height .35s ease,
    font-size .35s ease;

  &.focus {
    min-height: 100vh;
    --scale-font: 1.4;
  }
}

@media (max-height: 850px) {
  .group.focus {
    --scale-font: 1.35;
  }
}

@media (max-height: 800px) {
  .group.focus {
    --scale-font: 1.25;
  }
}

@media (max-height: 750px) {
  .group.focus {
    --scale-font: 1.15;
  }
}

@media (max-height: 700px) {
  .group.focus {
    --scale-font: 1.05;
  }
}

@media (max-height: 650px) {
  .group.focus {
    --scale-font: 1;
  }
}